<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecondaryContentColorRed</key>
	<string>245</string>
	<key>SecondaryContentColorGreen</key>
	<string>133</string>
	<key>SecondaryContentColorBlue</key>
	<string>7</string>
	<key>NavigationBarTintColorRed</key>
	<integer>255</integer>
	<key>NavigationBarTintColorGreen</key>
	<integer>255</integer>
	<key>NavigationBarTintColorBlue</key>
	<integer>255</integer>
	<key>NavigationBarColorRed</key>
	<integer>68</integer>
	<key>NavigationBarColorGreen</key>
	<integer>52</integer>
	<key>NavigationBarColorBlue</key>
	<integer>52</integer>
	<key>SecondaryBackgroundColorRed</key>
	<integer>246</integer>
	<key>SecondaryBackgroundColorGreen</key>
	<integer>245</integer>
	<key>SecondaryBackgroundColorBlue</key>
	<integer>246</integer>
	<key>PrimaryContentColorColorRed</key>
	<integer>0</integer>
	<key>PrimaryContentColorColorGreen</key>
	<integer>0</integer>
	<key>PrimaryContentColorColorBlue</key>
	<integer>0</integer>
	<key>FontPlain</key>
	<string>HelveticaNeue</string>
	<key>FontLight</key>
	<string>HelveticaNeue-UltraLight</string>
	<key>ButtonTextSize</key>
	<integer>16</integer>
	<key>ButtonRadius</key>
	<real>6</real>
	<key>ButtonTextColorRed</key>
	<integer>255</integer>
	<key>ButtonTextColorGreen</key>
	<integer>255</integer>
	<key>ButtonTextColorBlue</key>
	<integer>255</integer>
	<key>HeaderLabelColorRed</key>
	<integer>174</integer>
	<key>HeaderLabelColorGreen</key>
	<integer>174</integer>
	<key>HeaderLabelColorBlue</key>
	<integer>174</integer>
	<key>ButtonColorRed</key>
	<integer>245</integer>
	<key>ButtonColorGreen</key>
	<integer>133</integer>
	<key>ButtonColorBlue</key>
	<integer>7</integer>
	<key>ButtonSecondaryColorRed</key>
	<integer>227</integer>
	<key>ButtonSecondaryColorGreen</key>
	<integer>227</integer>
	<key>ButtonSecondaryColorBlue</key>
	<integer>227</integer>
	<key>ButtonSecondaryTextColorRed</key>
	<integer>174</integer>
	<key>ButtonSecondaryTextColorGreen</key>
	<integer>174</integer>
	<key>ButtonSecondaryTextColorBlue</key>
	<integer>174</integer>
</dict>
</plist>
